{% extends 'base.html.twig' %}

{% block title %}Edit Users{% endblock %}

{% block body %}

<div class="container-fluid bg-light py-5 px-3 my-5">
    <div class="container mx-auto p-5 rounded"">
    <h1 class=" display-3 mb-5">Edition de vos informations Utilisateur</h1>
    
        {{ include('users/_form.html.twig', {'button_label': 'Enregistrer'}) }}
        <div class=" d-flex mt-5">
        {{include('users/_delete_form.html.twig') }}
        <a class="btn btn-primary ms-2" href="{{ path('listing') }}">Retour à la liste</a>
         </div>
    </div>  
</div>

{% endblock %}